html {
    display: grid;
    justify-items: center;
}

body {
    background-color: gainsboro;
    font-family: sans-serif;
    line-height: 1.3;
    margin: 2em;
    padding: 0;
}



.container {
    width: 100%;
}

h1 {
    margin: 0;
    padding: 0;
    line-height: 1;
    display: inline-block;
    /* outline: 1px solid orange; */
}

.post-h1 {
    margin: 1em 0;
}

#hero {
    background-image: url(../assets/Dimitri-Sirenko-painted-sea-turtle.jpeg);
    background-size: cover;
    background-position: top center;
    width: 100%;
    height: 300px;
    margin: 0 0 1em 0;
    padding: 0;
}

#hero-post {
    background-image: url(../assets/garden-header-3360-shark.jpg);
    background-size: cover;
    background-position: top center;
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postlist {
    list-style: none;
}

article {
    margin: 1em 0;
}

nav {
    display: flex;
    grid-area: nav;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

aside {
    margin-left: 2em;
    font-style: italic;
    line-height: 0.5;
}

blockquote {
    font-style: italic;
    border-left: 5px solid coral;
    padding: .5em .5em .5em 15px;
    margin: 20px;
    background-color: antiquewhite;
}

@media screen and (min-width: 800px) {
    body {
        /* display: grid;
        justify-items: center; */
        width: 55vw;
    }

}